<!--
  Generated template for the AppevaluationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header> 

  <ion-navbar>
    <ion-title>Application Evaluation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list no-lines> 
    <ion-item *ngIf=!data style="font-size:x-large">
      Your address, employment and Bank Statements have been verified.<br>
      Your application is now being evaluated.
    </ion-item>
    <ion-item *ngIf=data style="font-size:x-large">
        Application evaluation is complete.
      </ion-item>
    <ion-item>
      <div class=loading>
        <ion-spinner name=bubbles *ngIf=!data>
        </ion-spinner>
      </div>  
    </ion-item>
  </ion-list>
      <div>    
          <button ion-button style="float:right" (click)="showAppEvalConfirmationPage()" [disabled]=!data>Continue</button>
      </div>
  
</ion-content>
