<!--
  Generated template for the AddrempverificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Address and Employment Verification</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list no-lines>

  <ion-item>

  </ion-item>
  <ion-item style="font-size:x-large" *ngIf=!data>
      We are verifying your Address, 
      Employment and Bank Statements
  </ion-item>
  <ion-item style="font-size:x-large" *ngIf=data>  
      Address, Employment and Bank Statments
      are verified.
  </ion-item>
  <ion-item>

  </ion-item>
  <ion-item>

  </ion-item>
  <ion-item>
      <div class=loading *ngIf=!data>
        <ion-spinner name=bubbles>
        </ion-spinner>
      </div>  
  </ion-item>
    

</ion-list>
      <div>    
          <button ion-button style="float:right" (click)="showAppEvalPage()" [disabled]=!data>Continue</button>
      </div>



</ion-content>
